.container{
    display: flex;
    justify-content: center;
    margin-top: 84px;
}

.container div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.carousel{
    display: flex;
    justify-content: space-around;
    position: relative;
}

