.section {
    padding: 120px;
}


.section h2 {
    font-size: 50px;
    padding: 70px;
    text-align: center;
}

.left {
    width: 50%;
    font-size: 40px;
}

.section img{
    width: 50%;
}

.section div:last-child {
    display: flex;
}

.left div{
    display: flex;
    padding-bottom:20px;
    padding-top: 38px;
    margin-right: 39px;
    border-bottom: 2px solid #4567AA;
    align-items:center;
}
.left div:last-child{
    border-bottom: 0px solid #4567AA;
}

.left span{
    padding-right: 45px;
}

.left a{
    font-size: 18px;
    text-decoration: none;
    color: #4567AA;
    /* left: 0; */
    margin-left: auto;
}


@media (max-width: 1440px){
    .section {
        padding: 75px;
    }
    .section h2 {
        font-size: 40px;
    }
    
    .left {
        font-size: 30px;
    }
    .left a{
        font-size: 18px;
    }
}

@media (max-width: 1024px){
    .section {
        padding: 45px;
    }
    .left {
        font-size: 25px;
    }
    .left span{
        padding-right: 25px;
    }
    .left div{
        padding-bottom:20px;
        padding-top: 38px;
        margin-right: 20px;
    }
}


@media (max-width: 768px){
    /* 30 */
    .section {
        padding: 30px;
    }
    .section h2 {
        font-size: 40px;
    }
    .left {
        font-size: 20px;
    }
    .left span{
        padding-right: 10px;
    }

}

@media (max-width: 425px){
    /* 15 */
    .section {
        padding: 15px;
    }
    .section div:last-child{
        display: flex;
        flex-direction: column;
    }
    .section img{
        width: 100%;
        order: -1;
    }
    .left{
        width: 100%;
    }
}
